*{
    font-family: sans-serif;
}

li{
    text-decoration: underline;
}

li:hover{
    cursor: help; 
}

div{
    width: 400px;
    height: 200px;
    background-color: white;
    position: absolute;
    top:100px;
    left: 150px;
    z-index: 1;
    visibility: hidden;
}

li:hover .html{
    visibility: visible;
}

li:hover .css{
    visibility: visible;
}

li:hover .js{
    visibility: visible;
}